#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
  <p>

    <br>PlayGym is an app that will periodically track
    assessments on individual members.

    <br> Assessments capture essentials measurements
    on each member.

    <br> PlayGym will generate analytics on the status
    of the member after a given assessment

    <br> Personal Trainers will review  assessments and comment on any specific assessment.
    assessment

  </p>
</section>